{% comment %}

	Solid State by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Site banner

	Description:

		Main site banner.

	Example:

		{% include layout/banner.html %}

{% endcomment %}

<!-- Banner -->
	<section id="banner">
		<div class="inner">
      <img class="image" src="{{ site.image }}" alt="{{ site.title }}" />
			<h2>{{ site.title }}</h2>
      <p style="text-transform: none;">
        {% assign words = site.tagline | split: ' ' %}
        {% for word in words %}
          {% if word contains 'Mayfly' %}
            <a style="color: #afa8d4; font-weight: bold;" href="https://mayfly.dev" target="_blank" rel="noopener noreferrer">{{ word }}</a>
          {% else %}
            {{ word }}
          {% endif %}
        {% endfor %}
      </p>
		</div>
	</section>