{% comment %}

	Solid State by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Site footer

	Description:

		Contact info, form, and footer.

	Example:

		{% include layout/footer.html %}

{% endcomment %}

<!-- Footer -->
	<section id="footer">
		<div class="inner">
			<h2 class="major">Get in touch</h2>
			<p>I am looking for a full-time software engineer role!<br />Please use the links below to reach out.</p>
			<!-- <form method="post" action="#">
				<div class="fields">
					<div class="field">
						<label for="name">Name</label>
						<input type="text" name="name" id="name" />
					</div>
					<div class="field">
						<label for="email">Email</label>
						<input type="email" name="email" id="email" />
					</div>
					<div class="field">
						<label for="message">Message</label>
						<textarea name="message" id="message" rows="4"></textarea>
					</div>
				</div>
				<ul class="actions">
					<li><input type="submit" value="Send Message" /></li>
				</ul>
			</form> -->
			<ul class="contact">
				<li class="icon solid fa-home">
					Austin, TX
				</li>
				<li class="icon brands fa-linkedin"><a href="https://www.linkedin.com/in/joshuawlindsay" target="_blank" rel="noopener noreferrer">joshuawlindsay</a></li>
				<li class="icon brands fa-github"><a href="https://github.com/JoshuaWLindsay" target="_blank" rel="noopener noreferrer">JoshuaWLindsay</a></li>
				<li class="icon brands fa-resume"><a href="career_site/images/Joshua-Lindsay-Resume.pdf" target="_blank" rel="noopener noreferrer">JoshuaWLindsay</a></li>
				<li class="icon solid fa-envelope"><a href=mailto:"joshwlindsay@gmail.com">joshwlindsay@gmail.com</a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; Joshua W Lindsay. All rights reserved.</li></li>
			</ul>
		</div>
	</section>